/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    box-sizing: border-box;
    margin: 20px auto; /* Center horizontally and add 20px margin on top and bottom */
    max-width: 800px; /* Set a maximum width for the content */

}
main {
    margin: 20px auto; /* Center horizontally and add 20px margin on top and bottom */
    max-width: 800px; /* Set a maximum width for the content */
    padding: 20px; /* Add padding to create space around the content */
    box-sizing: border-box;
}
/* Body styles */
body {
    background-color: #FFF; /* White background for the body */
    color: #404040; /* Foreground color */
    font-family: Georgia, Garamond, serif; /* Font family for text */
    font-size: 9pt;
    align-items: center;
}
/* Heading styles */
img{
    padding-top: 8px;
    padding-bottom: 8px;
}
ul{
    padding-bottom: 8px;
}
hr{
    margin-bottom: 8px;
}
div > pre:nth-child(1) {
    background-color: lemonchiffon;
    padding: 10px;
    margin-bottom: 8px;
}

/* Style the second pre tag with a different background color */
div > pre:nth-child(2) {
    background-color: lemonchiffon;
    padding: 10px;
    margin-bottom: 8px;
}

/* Style the third pre tag with a different background color */
div > pre:nth-child(3) {
    background-color: lemonchiffon;
    padding: 10px;
    margin-bottom: 8px;
}
h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    color: #A4A400;/* Headings' foreground color */
    background-color: #F0F0F0;/* Headings' background color */
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif; /* Font family for headings */
    text-decoration: underline;
}

h2, h3, h4 {
    font-size: 9pt;
    font-weight: normal;
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif; /* Font family for headings */
}

/* Link styles */
a {
    color: #A4A400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Strikethrough and replacement styles */
del {
    text-decoration: line-through;
}
/* Copyright notice styles */
footer {
    font-family: monospace;
    white-space: pre;
    text-align: center;
}

footer p {
    margin-left: 2em;
}

footer p:nth-child(3) {
    margin-left: 4em;
}
